<div class="footer">
	<div class="contact">
		<p>
		Henrique Cabral<br />
		MIEEC &mdash; FEUP
		</p>
	</div>
	<div class="contact">
		<p>
		<a href="mailto:henrique.cabral@fe.up.pt">henrique.cabral@fe.up.pt</a><br />
		<a href="https://sigarra.up.pt/feup/pt/instal_geral.espaco_view?pv_id=74542">I001</a>/<a href="https://sigarra.up.pt/feup/pt/instal_geral.espaco_view?pv_id=74563">I224</a>
		</p>
	</div>
	<div class="contact">
		<p>
		<a href="https://twitter.com/hmpcabral">twitter.com/hmpcabral</a><br />
		<a href="http://www.linkedin.com/pub/henrique-cabral/44/9b/646">LinkedIn</a>
		</p>
	</div>
</div>

