<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
	    <a href="{{ site.baseurl }}/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort: 'name' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
			  <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

	  <li class="sidebar-nav-item">
		<a href="{{ site.baseurl }}{{ site.files }}/thesis.pdf">Final report</a>
	  </li>
    </ul>

	<p>&copy; {{ site.time | date: '%Y' }} <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a></p>
	<p style="font-size:small">Made with love in <a href="http://www.vim.org/">vim</a> using <a href="http://jekyllrb.com/">Jekyll</a> and <a href="http://hyde.getpoole.com/">Hyde</a>.</p>
  </div>
</div>
